### 04 Functional Programming-Exercise

#### 1. map, filter, zip, reduce

- #1 Capitalize all of the pet names and print the list
`my_pets = ['sisi', 'bibi', 'titi', 'carla']`


- #2 Zip the 2 lists into a list of tuples, but sort the numbers from lowest to highest.
```
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [5,4,3,2,1]
```
- #3 Filter the scores that pass over 50%
`scores = [73, 20, 65, 19, 76, 100, 88]`


- #4 Combine all of the numbers that are in a list on this file using reduce (my_numbers and scores). What is the total?

In [10]:
# 1
my_pets = ['sisi', 'bibi', 'titi', 'carla']

print(list(map(lambda item: item.upper(), my_pets)))

['SISI', 'BIBI', 'TITI', 'CARLA']

In [14]:
# 2
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [5,4,3,2,1]

zipped = list(zip(my_strings, my_numbers))
print(zipped)
zipped.sort(key = lambda item: item[1])
print(zipped)

[('a', 5), ('b', 4), ('c', 3), ('d', 2), ('e', 1)]
[('e', 1), ('d', 2), ('c', 3), ('b', 4), ('a', 5)]

In [15]:
# 3
scores = [73, 20, 65, 19, 76, 100, 88]

print(list(filter(lambda num: num > 50, scores)))

[73, 65, 76, 100, 88]

In [17]:
# 4
from functools import reduce

reduce(lambda acc, num: acc + num,  my_numbers + scores, 0)

456

&nbsp;

#### 2. Lambda expressions
- 1)create a lambda expression to square each item in the list.
  - `my_list = [5, 4, 3]`

- 2)sort the given list based on the second value in each tuple.
    - `a = [(0, 2), (4, 3), (9, 9), (10, -1)]`

In [1]:
# 1)
my_list = [5, 4, 3]

print(list(map(lambda num: num**2, my_list)))

[25, 16, 9]

In [7]:
# 2) 
a = [(0, 2), (4, 3), (9, 9), (10, -1)]

b = sorted(a, key = lambda num: num[1])
print(b)

[(10, -1), (0, 2), (4, 3), (9, 9)]

&nbsp;

#### 3. Comprehensions
- find duplicated letters in the list
  - `some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']`

In [23]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']
duplicates = {char for char in some_list if some_list.count(char) > 1}  # set comprehension
print(duplicates)

{'n', 'b'}